In [15]:
import pandas as pd

In [16]:
summaries_df = pd.read_csv("summaries.csv")

In [17]:
summaries_df

,Symbol,Name,Market Cap Number,Market Cap Modifier,Market Cap
0,BNB,BNB,54.00,B,5.400000e+10
1,ADA,Cardano,18.50,B,1.850000e+10
2,ETH,Ethereum,250.00,B,2.500000e+11
3,BAT,Basic Attention Token,620.00,M,6.200000e+08
4,USDC,USD Coin,53.00,B,5.300000e+10
5,USDT,Tether,73.00,B,7.300000e+10
6,NEO,Neo,870.00,M,8.700000e+08
7,TUSD,True USD,1.20,B,1.200000e+09
8,ETC,Ethereum Classic,3.00,B,3.000000e+09
9,LTC,Litecoin,5.10,B,5.100000e+09
10,XRP,Ripple,21.00,B,2.100000e+10
11,TRX,TRON,7.38,B,7.380000e+09
12,EOS,EOS,1.40,B,1.400000e+09
13,XMR,Monero,3.50,B,3.500000e+09
14,ZEC,Zcash,1.60,B,1.600000e+09
15,QTUM,Qtum,450.00,M,4.500000e+08
16,DCR,Decred,550.00,M,5.500000e+08
17,XLM,Stellar,3.40,B,3.400000e+09
18,IOTA,MIOTA,990.00,M,9.900000e+08
19,MANA,Decentraland,2.10,B,2.100000e+09
20,DASH,Digital Cash,680.00,M,6.800000e+08
21,ZRX,0x,390.00,M,3.900000e+08
22,SC,Siacoin,280.00,M,2.800000e+08
23,REP,Augur,150.00,M,1.500000e+08

In [8]:
import json
symbols_list_file_name = "binance_BTC_from_2019_05_01_to_2022_04_30.json"
with open(symbols_list_file_name, "r") as f:
    symbols_list = json.load(f)

In [9]:
import os
import pandas as pd
import numpy as np
import pprint as pp
import datetime as dt
import pathlib
import re
import json
import math
exchange = "binance"
data_folder_name = "full_datasets_by_asset_" + exchange
extension = ".gz"
regex_match_to_strip = "\.csv.gz$"
returns_folder_name = "full_returns"

In [ ]:
small_letters_tickers_invert_map = {
    'btcusdc': ''
}

In [48]:
pattern = "(.*?)_(.*)" # date_ticker regex pattern
date_ticker_regex = re.compile(pattern)
# the above is precompiled

file_name = '2022-04-30_BTCTUSD.csv.gz'
data_name = re.sub(regex_match_to_strip, '', file_name)
date_ticker_regex_result = date_ticker_regex.match(data_name)
file_name_date = date_ticker_regex_result.group(1)
file_name_ticker = date_ticker_regex_result.group(2)

# give up on renaming

In [73]:
small_invert_from = ["btcusdc", "btcusdt", "btctusd"]
small_invert_to = ["usdcbtc", "usdtbtc", "tusdbtc"]
small_map = dict(zip(small_invert_from, small_invert_to))
small_map

{'btcusdc': 'usdcbtc', 'btcusdt': 'usdtbtc', 'btctusd': 'tusdbtc'}

In [77]:
large_invert_from = list(map(str.upper, small_invert_from))
large_invert_to = list(map(str.upper, small_invert_to))
large_map = dict(zip(large_invert_from, large_invert_to))
large_map

{'BTCUSDC': 'USDCBTC', 'BTCUSDT': 'USDTBTC', 'BTCTUSD': 'TUSDBTC'}

In [78]:
if file_name_ticker in large_map:
    print(large_map[file_name_ticker])

TUSDBTC

In [51]:
file_path

'C:\\Users\\wang-\\OneDrive\\Term 2\\Dissertation\\experiments\\scratches\\full_datasets_by_asset_binance\\btctusd\\binance\\trades\\2022-04-30_BTCTUSD.csv.gz'

In [52]:
pathlib.Path(file_path)

WindowsPath('C:/Users/wang-/OneDrive/Term 2/Dissertation/experiments/scratches/full_datasets_by_asset_binance/btctusd/binance/trades/2022-04-30_BTCTUSD.csv.gz')

In [66]:
data_folder_name = "full_datasets_by_asset_" + exchange
path = pathlib.Path(file_path)
index = path.parts.index(data_folder_name)

In [86]:
if file_name_ticker in large_map:
    small_ticker = small_map[str.lower(file_name_ticker)]
    large_ticker = large_map[file_name_ticker]
else:
    small_ticker = str.lower(file_name_ticker)
    large_ticker = large_map[file_name_ticker]

In [88]:
large_ticker

'TUSDBTC'

In [91]:
file_path_end = file_name_date + '_' + large_ticker + '.csv.gz'

In [94]:
'asdf' in large_map

False

In [79]:
path.parts[index + 2: -1]

('binance', 'trades')

In [68]:
path_end_wanted = path.parts[index + 1:]

In [60]:
result_folder_name = "full_datasets_against_btc_" + exchange

In [92]:
save_path = pathlib.Path.cwd().joinpath(result_folder_name).joinpath(small_ticker).joinpath(*path.parts[index + 2: -1]).joinpath(file_path_end)

In [93]:
save_path

WindowsPath('C:/Users/wang-/OneDrive/Term 2/Dissertation/experiments/scratches/full_datasets_against_btc_binance/tusdbtc/binance/trades/2022-04-30_TUSDBTC.csv.gz')

In [49]:
file_name_ticker

'BTCTUSD'

In [11]:
symbol = 'BNB'
dir_name = os.path.join(os.getcwd(), data_folder_name, symbol)

In [24]:
file_path = os.path.join(os.getcwd(), data_folder_name, 'btctusd', 'binance', 'trades', '2022-04-30_BTCTUSD.csv.gz')

In [25]:
df = pd.read_csv(file_path, compression='gzip')

In [26]:
df.drop(columns=['timestamp'], inplace=True)
df.rename(columns={'local_timestamp': 'timestamp'}, inplace=True)

In [27]:
df[]

    exchange   symbol         timestamp       id  side     price   amount
0    binance  BTCTUSD  1651277066927893  9451685  sell  38605.50  0.00027
1    binance  BTCTUSD  1651277659481258  9451686  sell  38598.34  0.00042
2    binance  BTCTUSD  1651277811771343  9451687   buy  38620.56  0.00356
3    binance  BTCTUSD  1651277811972195  9451688   buy  38620.60  0.00089
4    binance  BTCTUSD  1651277820357953  9451689   buy  38622.40  0.00299
..       ...      ...               ...      ...   ...       ...      ...
314  binance  BTCTUSD  1651362597701134  9451999  sell  37633.21  0.00293
315  binance  BTCTUSD  1651362652071792  9452000   buy  37685.18  0.00146
316  binance  BTCTUSD  1651362652126123  9452001   buy  37685.18  0.00119
317  binance  BTCTUSD  1651362714546312  9452002   buy  37782.69  0.00191
318  binance  BTCTUSD  1651362812163441  9452003   buy  37718.96  0.05206

[319 rows x 7 columns]

In [31]:
df['amount'] = df['amount'] * df['price']

In [34]:
df['price'] = 1 / df['price']

In [35]:
df['side'] = df['side'].map({'sell': 'buy', 'buy': 'sell'})

In [40]:
os.getcwd()

'C:\\Users\\wang-\\OneDrive\\Term 2\\Dissertation\\experiments\\scratches'

In [102]:
save_path

WindowsPath('C:/Users/wang-/OneDrive/Term 2/Dissertation/experiments/scratches/full_datasets_against_btc_binance/tusdbtc/binance/trades/2022-04-30_TUSDBTC.csv.gz')

In [106]:
pathlib.PurePath(save_path).parent

PureWindowsPath('C:/Users/wang-/OneDrive/Term 2/Dissertation/experiments/scratches/full_datasets_against_btc_binance/tusdbtc/binance/trades')

In [39]:
pd.set_option("display.precision", 8)
df

,exchange,symbol,timestamp,id,side,price,amount
0,binance,BTCTUSD,1651277066927893,9451685,buy,0.00002590,10.4234850
1,binance,BTCTUSD,1651277659481258,9451686,buy,0.00002591,16.2113028
2,binance,BTCTUSD,1651277811771343,9451687,sell,0.00002589,137.4891936
3,binance,BTCTUSD,1651277811972195,9451688,sell,0.00002589,34.3723340
4,binance,BTCTUSD,1651277820357953,9451689,sell,0.00002589,115.4809760
...,...,...,...,...,...,...,...
314,binance,BTCTUSD,1651362597701134,9451999,buy,0.00002657,110.2653053
315,binance,BTCTUSD,1651362652071792,9452000,sell,0.00002654,55.0203628
316,binance,BTCTUSD,1651362652126123,9452001,sell,0.00002654,44.8453642
317,binance,BTCTUSD,1651362714546312,9452002,sell,0.00002647,72.1649379
318,binance,BTCTUSD,1651362812163441,9452003,sell,0.00002651,1963.6490576

In [ ]:
dir_name = os.path.join(os.getcwd(), data_folder_name, symbol)
for

In [97]:
df['symbol'].map({file_name_ticker: large_ticker})

0      TUSDBTC
1      TUSDBTC
2      TUSDBTC
3      TUSDBTC
4      TUSDBTC
        ...
314    TUSDBTC
315    TUSDBTC
316    TUSDBTC
317    TUSDBTC
318    TUSDBTC
Name: symbol, Length: 319, dtype: object