In [1]:
import pandas as pd

In [20]:
import copy

In [21]:
d2 = copy.deepcopy(d1)

In [22]:
d2

{'A': {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]},
 'B': {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}}

In [19]:
d1 = {'A' : 
                {'a': [1,2,3,4,5],
                'b': [6,7,8,9,1]
                },

              'B' : 
                  {'a': [2,3,4,5,6],
                    'b': [7,8,9,1,]
                  }
             }

In [23]:
d3 = {1: d1, 2: d2}

In [42]:
d3

{1: {'A': {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]},
  'B': {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}},
 2: {'A': {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]},
  'B': {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}}}

In [49]:
def my_flatten_dict(feed):
    result = dict()
    if isinstance(feed, dict):
        for key, value in feed.items():
            new_dict = flatten_dict(value)
            for new_key, new_value in new_dict.items():
                new_key = list(new_key)
                new_key.insert(0, key)
                result[tuple(new_key)] = new_value
    else:
        result[()] = feed
    return result

In [50]:
my_flatten_dict(d3)

{(1, 'A', 'a'): [1, 2, 3, 4, 5],
 (1, 'A', 'b'): [6, 7, 8, 9, 1],
 (1, 'B', 'a'): [2, 3, 4, 5, 6],
 (1, 'B', 'b'): [7, 8, 9, 1],
 (2, 'A', 'a'): [1, 2, 3, 4, 5],
 (2, 'A', 'b'): [6, 7, 8, 9, 1],
 (2, 'B', 'a'): [2, 3, 4, 5, 6],
 (2, 'B', 'b'): [7, 8, 9, 1]}

In [48]:
d3[1]['A']

{'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]}

In [43]:
d3[1]['A']['a']

[1, 2, 3, 4, 5]

In [47]:
my_flatten_dict(d3[1]['A']['a'])

{(): [1, 2, 3, 4, 5]}

In [35]:
def flatten_dict(nested_dict):
    res = {}
    if isinstance(nested_dict, dict):
        for k in nested_dict:
            flattened_dict = flatten_dict(nested_dict[k])
            for key, val in flattened_dict.items():
                key = list(key)
                key.insert(0, k)
                res[tuple(key)] = val
    else:
        res[()] = nested_dict
    return res


def nested_dict_to_df(values_dict):
    flat_dict = flatten_dict(values_dict)
    df = pd.DataFrame.from_dict(flat_dict, orient="index")
    df.index = pd.MultiIndex.from_tuples(df.index)
    df = df.unstack(level=-1)
    df.columns = df.columns.map("{0[1]}".format)
    return df

In [39]:
d3

{1: {'A': {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]},
  'B': {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}},
 2: {'A': {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]},
  'B': {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}}}

In [37]:
d4 = flatten_dict(d3)

In [40]:
dft = pd.DataFrame.from_dict(d4, orient='index')

In [41]:
dft

           0  1  2  3    4
(1, A, a)  1  2  3  4  5.0
(1, A, b)  6  7  8  9  1.0
(1, B, a)  2  3  4  5  6.0
(1, B, b)  7  8  9  1  NaN
(2, A, a)  1  2  3  4  5.0
(2, A, b)  6  7  8  9  1.0
(2, B, a)  2  3  4  5  6.0
(2, B, b)  7  8  9  1  NaN

In [38]:
nested_dict_to_df(d3)

     a  b  a  b  a  b  a  b    a    b
1 A  1  6  2  7  3  8  4  9  5.0  1.0
  B  2  7  3  8  4  9  5  1  6.0  NaN
2 A  1  6  2  7  3  8  4  9  5.0  1.0
  B  2  7  3  8  4  9  5  1  6.0  NaN

In [24]:
df = (
    pd.DataFrame.from_dict(d3, orient='index')
    .stack()
    .to_frame()
)

In [34]:
df

                                                0
1 A  {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]}
  B     {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}
2 A  {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]}
  B     {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}

In [26]:
pd.DataFrame(
    df[0].values.tolist(), index=df.index
)

                   a                b
1 A  [1, 2, 3, 4, 5]  [6, 7, 8, 9, 1]
  B  [2, 3, 4, 5, 6]     [7, 8, 9, 1]
2 A  [1, 2, 3, 4, 5]  [6, 7, 8, 9, 1]
  B  [2, 3, 4, 5, 6]     [7, 8, 9, 1]

In [30]:
dfn = df.stack().to_frame()

In [33]:
dfn

                                                  0
1 A 0  {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]}
  B 0     {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}
2 A 0  {'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 1]}
  B 0     {'a': [2, 3, 4, 5, 6], 'b': [7, 8, 9, 1]}

In [32]:
pd.DataFrame(
    dfn[0].values.tolist(), index=dfn.index
)

                     a                b
1 A 0  [1, 2, 3, 4, 5]  [6, 7, 8, 9, 1]
  B 0  [2, 3, 4, 5, 6]     [7, 8, 9, 1]
2 A 0  [1, 2, 3, 4, 5]  [6, 7, 8, 9, 1]
  B 0  [2, 3, 4, 5, 6]     [7, 8, 9, 1]

In [8]:
pd.DataFrame.from_dict(dictionary, orient='index').stack()

A  a    [1, 2, 3, 4, 5]
   b    [6, 7, 8, 9, 1]
B  a    [2, 3, 4, 5, 6]
   b    [7, 8, 9, 1, 2]
dtype: object